
/* main menu styles */
#nav,#nav ul {
  
list-style:none;
  
margin:0;
  
padding:0;
}
#nav {
    height:41px;
    padding-left:5px;
    padding-top:5px;
    position:relative;
    z-index:2;
    background: #fa9e1b;
}
#nav ul {
    left:-9999px;
    position:absolute;
    top:37px;
    width:auto;
}
#nav ul ul {
    left:-9999px;
    position:absolute;
    top:0;
    width:auto;
}
#nav li {
   /* position: absolute; */
   /* top: 0; */
   /* left: 0; */
   /* width: 100%; */
   /* -webkit-transform: translateX(100%); */
   -moz-transform: translateX(100%);
   -ms-transform: translateX(100%);
   -o-transform: translateX(100%);
   /* transform: translateX(100%); */
}
#Epa{
  color:white;
}
#nav li a {
   
    color:white;
    display:block;
    float:left;
    font-size:17px;
    padding:8px 29px;
    text-decoration:none;
}
#nav > li > a {
    -moz-border-radius:6px;
    /* -webkit-border-radius:6px; */
    -o-border-radius:6px;
    /* border-radius:6px; */
    overflow:hidden;
}

#nav ul li {
    margin:0;
}
#nav ul li a {
    width:120px;
}

/*hover styles*/
#nav li:hover > a {
    background-color:white;
    color:#fa9e1b;
}

/*focus styles*/
    #nav li a:focus {
    outline-width:0;
}

/*popups*/
#nav li a:active + ul.dd,#nav li a:focus + ul.dd,#nav li ul.dd:hover {
    left:0;
}
#nav ul.dd li a:active + ul,#nav ul.dd li a:focus + ul,#nav ul.dd li ul:hover {
    left:140px;
}

